In [8]:
import pandas as pd

# load dataset
df = pd.read_csv("../data/transactions_training_sept_oct_2023.csv", sep=';', decimal=',')
df['DATETIME_GMT'] = pd.to_datetime(df['DATETIME_GMT'])
df['hour'] = df['DATETIME_GMT'].dt.hour
df['day_of_week'] = df['DATETIME_GMT'].dt.dayofweek
df['month'] = df['DATETIME_GMT'].dt.month
df = df.sort_values(by=['ID_CARD', 'DATETIME_GMT'])
df['time_since_last_transaction'] = df.groupby('ID_CARD')['DATETIME_GMT'].diff().dt.total_seconds()
df['diff_to_last_transaction'] = df.groupby('ID_CARD')['AMOUNT'].diff()
num_cols = ['AMOUNT', "time_since_last_transaction",
            'Anomaly_amount_1', 'Anomaly_amount_2', 'Anomaly_amount_3', 'Anomaly_amount_4', 'Anomaly_amount_5',
            'Anomaly_amount_6', 'Anomaly_amount_7', 'Anomaly_amount_8', 'Anomaly_amount_9',
            'Population_Anomaly_1', 'Population_Anomaly_2', 'Population_Anomaly_3', 'Population_Anomaly_4',
            'Population_Anomaly_5', 'Population_Anomaly_6', 'Population_Anomaly_7', 'Population_Anomaly_8']

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

y = df['FLAG_FRAUD']
df['day_of_week'] = df['DATETIME_GMT'].dt.dayofweek.astype('category')
df['hour'] = df['DATETIME_GMT'].dt.hour.astype('category')
# Encode with OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder

ordinal = OrdinalEncoder()
df[['day_of_week', 'hour']] = ordinal.fit_transform(df[['day_of_week', 'hour']])

selected_cols = ['ID_CARD', "time_since_last_transaction", 'diff_to_last_transaction', 'AMOUNT', 'Anomaly_amount_1',
       'Anomaly_amount_2', 'Anomaly_amount_3', 'Anomaly_amount_4',
       'Anomaly_amount_5', 'Anomaly_amount_6', 'Anomaly_amount_7',
       'Anomaly_amount_8', 'FLAG_BEHAVIOUR_Anomaly_1',
       'FLAG_BEHAVIOUR_Anomaly_2', 'FLAG_BEHAVIOUR_Anomaly_3',
       'FLAG_BEHAVI'
       'OUR_Anomaly_6', 'FLAG_BEHAVIOUR_Anomaly7',
       'FLAG_BEHAVIOUR_Anomaly_8', 'Anomaly_amount_9', 'Population_Anomaly_1',
       'Population_Anomaly_2', 'Population_Anomaly_3', 'Population_Anomaly_4',
       'Population_Anomaly_5', 'Population_Anomaly_6', 'Population_Anomaly_7',
       'Population_Anomaly_8', 'hour', 'day_of_week']
X = df[selected_cols]
X

,ID_CARD,time_since_last_transaction,diff_to_last_transaction,AMOUNT,Anomaly_amount_1,Anomaly_amount_2,Anomaly_amount_3,Anomaly_amount_4,Anomaly_amount_5,Anomaly_amount_6,...,Population_Anomaly_1,Population_Anomaly_2,Population_Anomaly_3,Population_Anomaly_4,Population_Anomaly_5,Population_Anomaly_6,Population_Anomaly_7,Population_Anomaly_8,hour,day_of_week
1890,17225409,NaN,NaN,42.0,0.190476,0.020408,0.251323,0.763393,0.440917,NaN,...,0.332112,2.047877,2.064620,1.911244,1.796971,1.810102,-0.134921,-0.1,15.0,6.0
6479,17257728,NaN,NaN,50.0,0.958333,0.761905,0.612500,0.346131,0.169171,NaN,...,0.132511,1.560217,1.574281,1.445445,1.349456,1.360486,1.333333,1.0,13.0,1.0
6649,17257728,4080.0,50.0,100.0,-0.020833,-0.119048,-0.193750,-0.326934,-0.415414,NaN,...,-0.434025,0.280109,0.287140,0.222722,0.174728,0.180243,0.166667,0.0,14.0,1.0
8076,17257728,76020.0,-50.0,50.0,0.958333,0.761905,0.612500,0.346131,0.169171,NaN,...,0.135612,1.560217,1.574281,1.445445,1.349456,1.360486,0.333333,1.0,11.0,2.0
25807,17257728,599340.0,0.0,50.0,0.958333,0.761905,0.612500,0.346131,0.169171,-0.137061,...,0.135042,1.560217,1.574281,1.445445,1.349456,1.360486,0.333333,0.8,10.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78245,62196750,NaN,NaN,20.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,NaN,...,-1.000000,5.488446,5.860883,5.718217,5.540399,5.541565,-1.000000,-1.0,15.0,0.0
78014,62202209,NaN,NaN,100.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,NaN,...,-1.000000,0.297689,0.372177,0.343643,0.308080,0.308313,-1.000000,-1.0,14.0,0.0
79910,62203543,NaN,NaN,20.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,...,-1.000000,17.817333,18.963993,18.741509,18.612993,18.914795,-1.000000,-1.0,10.0,1.0
79991,62207463,NaN,NaN,100.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,NaN,...,-1.000000,2.763467,2.992799,2.948302,2.922599,2.982959,-1.000000,-1.0,11.0,1.0
79990,62225727,NaN,NaN,29.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,...,-1.000000,3.474790,3.731644,3.633253,3.510620,3.511424,-1.000000,-1.0,11.0,1.0

In [ ]:
from sklearn.preprocessing import StandardScaler
# List of columns to standardize


scaler = StandardScaler()
df[selected_cols[1:]] = scaler.fit_transform(df[selected_cols[1:]])